.keyword {
    font-weight: 700;
    color: var(--keyword);
}
.token.builtin,
.token.number,
.token.operator,
.token.punctuation,
.token.string,
.token.variable {
    color: var(--token);
}
.token.comment {
    color: var(--comment);
}
.token.attr-name,
.token.class-name,
.token.function,
.token.tag {
    color: var(--name);
}
article {
    max-width: var(--main-content);
    margin: 0 auto;
    line-height: 1.9;
}
article > * + * {
    margin-top: 2em;
}
article p {
    color: var(--article-color);
}
article img {
    max-width: 100%;
    width: auto;
    margin: auto;
    display: block;
    border-radius: var(--radius);
}
article [id]:before {
    content: "";
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}
article ul {
    list-style-type: circle;
}
article ol,
article ul {
    padding: 0;
    list-style-position: inside;
}
article ul li.reset {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    margin-left: -0.5rem;
}
article ul li.reset .check {
    display: flex;
    align-items: center;
    margin-right: 0.51rem;
}
input[type="checkbox"] {
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    border-radius: 3px;
}
input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
html[data-theme="light"] input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--gray);
    border-color: var(--fg);
}
.token-line:not(:last-child) {
    min-height: 1.4rem;
}
article :not(pre) > code {
    font-weight: 600;
    font-family: var(--font-sans);
    font-size: 1rem;
    padding: 0 3px;
}
article :not(pre) > code:after,
article :not(pre) > code:before {
    content: "\`";
    color: var(--gray);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
article pre {
    overflow-x: auto;
    background: var(--lightest-gray);
    border-radius: var(--inline-radius);
    line-height: 1.8;
    padding: 1rem;
    font-size: 0.875rem;
}
.header-link {
    color: inherit;
    text-decoration: none;
}
.header-link:after {
    opacity: 0;
    content: "#";
    margin-left: var(--gap-half);
    color: var(--gray);
}
@media (hover: hover) {
    .header-link:hover:after {
        opacity: 1;
    }
}
#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--fg);
}
#nprogress:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}
:root {
    --gap-quarter: 0.25rem;
    --gap-half: 0.5rem;
    --gap: 1rem;
    --gap-double: 2rem;
    --small-gap: 4rem;
    --big-gap: 4rem;
    --main-content: 45rem;
    --radius: 8px;
    --inline-radius: 5px;
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --font-mono: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;
    --transition: 0.1s ease-in-out;
    --transition-slow: 0.3s ease-in-out;
    --bg: #131415;
    --fg: #fafbfc;
    --gray: #666;
    --light-gray: #444;
    --lighter-gray: #222;
    --lightest-gray: #1a1a1a;
    --article-color: #eaeaea;
    --header-bg: rgba(19, 20, 21, 0.45);
    --gray-alpha: hsla(0, 0%, 100%, 0.5);
    --selection: hsla(0, 0%, 100%, 0.99);
    --token: #999;
    --comment: #999;
    --keyword: #fff;
    --name: #fff;
    --highlight: #2e2e2e;
}
[data-theme="light"] {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --header-bg: hsla(0, 0%, 100%, 0.8);
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);
    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
}
* {
    box-sizing: border-box;
}
::-moz-selection {
    text-shadow: none;
    background: var(--selection);
    color: var(--bg);
}
::selection {
    text-shadow: none;
    background: var(--selection);
    color: var(--bg);
}
html {
    line-height: 1.5;
}
body,
html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: var(--bg);
    color: var(--fg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    min-height: 100vh;
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
}
li,
p {
    letter-spacing: -0.33px;
    font-size: 1.125rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
    font-weight: 600;
    line-height: 1.75;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.89px;
}
h2 {
    font-size: 2rem;
    letter-spacing: -0.69px;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: -0.47px;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: -0.33px;
}
hr {
    border: none;
    border-bottom: 1px solid var(--light-gray);
}
blockquote {
    font-style: italic;
    margin: 0;
    padding-left: 1rem;
    border-left: 3px solid var(--light-gray);
}
button {
    border: none;
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}
a.reset,
p a {
    outline: none;
    color: var(--fg);
    text-decoration: none;
}
a.reset:focus,
p a:active,
p a:focus {
    color: var(--gray);
}
@media (hover: hover) {
    a.reset:hover,
    p a:hover {
        color: var(--gray);
    }
}
code,
pre {
    font-family: var(--font-mono);
}
.clamp {
    -webkit-line-clamp: 1;
}
.clamp,
.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-2 {
    -webkit-line-clamp: 2;
}
.flex {
    display: flex;
}
kbd {
    font-family: var(--font-sans);
    font-size: 1rem;
    padding: 2px 7px;
    font-weight: 600;
    background: var(--lighter-gray);
    border-radius: 5px;
}
summary {
    cursor: pointer;
    outline: none;
}
details {
    background: var(--lightest-gray);
    padding: 1rem;
    border-radius: var(--radius);
}
@media print {
    :root {
        --bg: #fff;
        --fg: #000;
        --gray: #888;
        --light-gray: #dedede;
        --lighter-gray: #f5f5f5;
        --lightest-gray: #fafafa;
        --article-color: #212121;
        --header-bg: hsla(0, 0%, 100%, 0.8);
        --gray-alpha: rgba(19, 20, 21, 0.5);
        --selection: rgba(0, 0, 0, 0.99);
        --token: #666;
        --comment: #999;
        --keyword: #000;
        --name: #333;
        --highlight: #eaeaea;
    }
    * {
        text-shadow: none !important;
    }
}
